/*
 Theme Name:   Craper Child Theme
 Theme URI:    http://www.arctick-grc.co.uk/
 Description:  Twenty Fifteen Child Theme
 Author:       Template-geek
 Author URI:   http://themeforest.net/user/Template-Geek/profile
 Template:     craper
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         craper,template,child
 Text Domain:  craper-child-theme
*/

.falkon-blog-sb h4 {
    color:#000;
    font-weight:400;
}
.falkon-blog-sb li a:hover {
    color:#36a7de;
}
.falkon-archive-listing h3 a {
    font-weight:400;
}
.falkon-archive-listing h3 a:hover {
    color:#36a7de;
}
.falkon-blg-title h5 {
    color:#36a7de;
    font-weight:400;
}
.falkon-blg-title p,figcaption.falkon-blg-title p a  {
    color:#000;
    font-weight:400;
}
.falkon-blg-title p,figcaption.falkon-blg-title p a:hover  {
    color:#36a7de;
}
