@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,400,400i,600,600i');

.logo-bar  {
    background-color:#ffffff !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0 0 15px 0;
    font-weight: 100;
    line-height: 1.1;
    font-family: 'Raleway',sans-serif;
    color: inherit;
    text-rendering: auto !important;
}
p {
    font-size:15px;
    line-height:24px;
}
footer{
    background-color: #444;
}
#menu-arctick-grc-menu li a{
    color:#27aae1;
}
.nation-list   {
    font-family: 'Raleway',sans-serif;
    color:#fff;
    font-size:20px;
    font-weight: 100;
}
img.aligncenter {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}