/*   
Theme Name: Craper
Author: Template-geek
Version: 1.0.6
Author URI: http://themeforest.net/user/Template-Geek/profile
Theme URI: http://themeforest.net/
Description: A sleek business multi-purpose WordPress Theme by - <a href="http://template-geek.com/">Template Geek</a>
License: The License with which You Bought This Theme from Themeforest
License URI: http://themeforest.net/wiki/support/legal-terms/licensing-terms/
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, custom-header, custom-menu, editor-style, featured-images, rtl-language-support, sticky-post, translation-ready, microformats
Text Domain: wp_craper
*/


.gallery-caption {}
.commentlist .bypostauthor {}
.wp-caption {
	max-width:100%;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #ffffff;
	margin: 0px 0px 10px 0px;
	border-radius: 0px;
}
.wp-caption img {
	margin: 0 0 10px 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
font-size: .80em;
line-height: 17px;
padding: 0 5px;
margin: 0;
}

.sticky {}
.alignright { float: right; margin-left:20px; margin-bottom:10px; }
.alignleft { float: left; margin-right:20px; margin-bottom:10px; }
.aligncenter { float: none; }


.top-strip .pull-right li:hover, .team-box .social-links > li:hover {
	background-color: #22c0e8;
}
.top-strip .pull-right .fa.fa-facebook:hover, .team-box .social-links .fa.fa-facebook:hover {
	background-color: #3b5998 !important;
}
.top-strip .pull-right .fa.fa-twitter:hover, .team-box .social-links .fa.fa-twitter:hover {
	background-color: #00aced !important;
}
.top-strip .pull-right .fa.fa-google-plus:hover, .team-box .social-links .fa.fa-google-plus:hover {
	background-color: #dd4b39 !important;
}
.top-strip .pull-right .fa.fa-dribbble:hover, .team-box .social-links .fa.fa-dribbble:hover {
	background-color: #ea4c89 !important;
}
.top-strip .pull-right .fa.fa-vimeo-square:hover, .team-box .social-links .fa.fa-vimeo-square:hover {
	background-color: #4bf !important;
}
.top-strip .pull-right .fa.fa-flickr:hover, .team-box .social-links .fa.fa-flickr:hover {
	background-color: #168add !important;
}
.top-strip .pull-right .fa.fa-instagram:hover, .team-box .social-links .fa.fa-instagram:hover {
	background-color: #517fa4 !important;
}
.top-strip .pull-right .fa.fa-linkedin:hover, .team-box .social-links .fa.fa-linkedin:hover {
	background-color: #007bb6 !important;
}
.top-strip .pull-right .fa.fa-pinterest:hover, .team-box .social-links .fa.fa-pinterest:hover {
	background-color: #cb2027 !important;
}
.top-strip .pull-right .fa.fa-skype:hover, .team-box .social-links .fa.fa-skype:hover {
	background-color: #00aff0 !important;
}
.top-strip .pull-right .fa.fa-tumblr:hover, .team-box .social-links .fa.fa-tumblr:hover {
	background-color: #32506d !important;
}
.top-strip .pull-right .fa.fa-youtube:hover, .team-box .social-links .fa.fa-youtube:hover {
	background-color: #bb0000 !important;
}

.wpb_revslider_element.wpb_content_element h1, .wpb_revslider_element.wpb_content_element h3 {
	color: #fff !important;
}
.sub-menu li a:hover {
	background-color: #22c0e8 !important;
}




#cookie-notice {
	background-color: rgb(0, 0, 0) !important;
	background-color: rgba(0, 0, 0, 0.6) !important;
}
#cookie-notice .cookie-notice-container {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}
#cookie-notice .cookie-notice-container #cn-notice-text{
	display: inline-block;
	margin-bottom: 0.5em;
}


#cookie-notice .cookie-notice-container #cn-accept-cookie,
#cookie-notice .cookie-notice-container #cn-more-info {
/*@extend . btn;*/
/*@extend . btn-sm;*/
	background-color: rgb(39, 170, 225);
	border: 1px solid rgb(39, 170, 225);
	color: #fff !important;
	border-radius: 0.25em;
	padding: 0.5em 1.5em;
	font-weight: 700;
	/*font-family: "Montserrat";*/
	/*text-transform: uppercase;*/
	transition: all .25s ease-in-out;
	display: inline-block;
}

#cookie-notice .cookie-notice-container #cn-accept-cookie:hover,
#cookie-notice .cookie-notice-container #cn-accept-cookie:active,
#cookie-notice .cookie-notice-container #cn-accept-cookie:focus,
#cookie-notice .cookie-notice-container #cn-more-info:hover,
#cookie-notice .cookie-notice-container #cn-more-info:active,
#cookie-notice .cookie-notice-container #cn-more-info:focus{
  background-color: #fff;
  border: 1px solid rgb(39, 170, 225);
  color: rgb(39, 170, 225) !important;
  transition: all .25s ease-in-out;
}

#cn-accept-cookie{}
#cn-more-info{}
